.scroll-viewport {
  height: calc(100% - 40px);
}

li:hover {
  background-color: rgba(174, 174, 189, 0.5);
}

.active-chat {
  background-color: rgba(174, 174, 189, 1) !important;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dcdce8;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #717178;
  border-radius: 2px;
}
