.contact-info {
  padding: 15px;
  display: flex;
  .material-icons {
    font-size: 30px;
    margin-right: 20px;
  }
  .contact-action {
    margin-top: 5px;
    li {
      margin-bottom: 15px;
      cursor: pointer;
      &:hover {
        color: #5580A3;
      }
    }
  }
}
