.header {
  color: #ffffff;
  background-color: #5580a3;
  display: flex;
  margin: auto;
  max-width: 1010px;
  padding: 0 !important;
  .header-menu {
    width: 30%;
    height: 100%;
    margin: auto 0;
  }
  .chat-name {
    flex-grow: 3;
    margin: auto;
    cursor: pointer;
    height: 100%;
    font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif;
    .members-count {
      display: inline-block;
      font-size: 16px;
      margin: 2px 0 0 10px;
    }
  }
}
