<div class="editor-container">
  <p class="typing" *ngIf="usersTyping.length === 1">{{usersTyping[0]}} is typing...</p>
  <p class="typing" *ngIf="usersTyping.length > 1">{{usersTyping.length}} persons are typing...</p>
  <div class="editor-input-container">
    <div class="img-container">
      <app-user-avatar [chatName]="authService.userData.username" [avatarUrl]="authService.userData.avatar" (click)="openModal('profile')"></app-user-avatar>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput [(ngModel)]="message" (keyup)="typingMessage()" (keydown.enter)="sendMessage($event)"></textarea>
    </mat-form-field>
    <div class="img-container">
      <app-user-avatar [chatName]="chatService.activeChat.chatName" [avatarUrl]="chatService.activeChat.avatar.url" (click)="openModal('chat')"></app-user-avatar>
    </div>
  </div>
  <button class="send-message" mat-button (click)="sendMessage()">Send</button>
</div>
