<div class="edit-name-container">
  <h1>Edit {{data.type}}</h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.oldName">
  </mat-form-field>
  <mat-form-field *ngIf="chatData.type === chatTypes.channel">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.oldDescription">
  </mat-form-field>
  <p class="error-message">{{updateError}}</p>
  <div class="edit-name-controls">
    <button class="cancel edit-name-button" mat-menu-item (click)="close()">Cancel</button>
    <button class="edit-name-button" mat-menu-item (click)="save()">Save</button>
  </div>
</div>
