<div class="chat-messages-container" *ngIf="chatService.activeChat && chatService.activeChat._id">
  <app-messages-list (selectMessage)="selectMessage($event)" [messages]="messages" (scrollMessages)="getMessages()"></app-messages-list>
  <app-editor *ngIf="!selectedMessages.length && showEditor"></app-editor>
  <app-message-select *ngIf="selectedMessages.length && showEditor" [messages]="selectedMessages"></app-message-select>
</div>
<div class="select-chat" *ngIf="!chatService.activeChat || !chatService.activeChat._id">
  <p>Please select a chat to start messaging</p>
</div>
