<div class="profile-header-container">
  <div class="profile-header-info-container">
    <div class="profile-image-container">
      <div class="img-container">
        <app-user-avatar [chatName]="name" [avatarUrl]="imageSrc" [type]="'profile'"></app-user-avatar>
      </div>
    </div>
    <div class="profile-name-container">
      <span class="profile-username" (click)="openEditTitleWindow()">Username</span>
    </div>
  </div>
  <div *ngIf="photoChange" class="select-image-container">
    <mat-icon>add_a_photo</mat-icon>
    <mat-form-field class="select-image-field" (change)="selectImage($event)">
      <ngx-mat-file-input></ngx-mat-file-input>
    </mat-form-field>
  </div>
  <div *ngIf="!photoChange" class="select-chat-container">
    <mat-icon (click)="closeSettingsModal()">chat</mat-icon>
  </div>
</div>
