.mat-menu-panel.mat-menu-panel {
  background-color: #5580a3 !important;
  box-shadow: none !important;
  color: #ffffff !important;
  border-radius: 0 !important;
  .mat-menu-item {
    color: #ffffff !important;
  }
}

mat-dialog-container {
  padding: 0 !important;
  .mat-form-field-underline {
    display: none !important;
  }

  .mat-form-field-infix {
    cursor: pointer;
    padding: 0 !important;
    margin: 0;
    height: 80px;
    border: 0;
  }
}
