<div class="chat-settings">
  <div class="add-member">
    <i class="material-icons">person</i>
    <span (click)="openContacts()">Add member</span>
  </div>
  <div class="users-chat">
    <i class="material-icons">reorder</i>
    <ul class="users-chat-list">
      <li *ngFor="let user of chatUsers">
        <app-user-avatar [avatarUrl]="user.avatar" [chatName]="user.username" [type]="'chat'"></app-user-avatar>
        <div class="user-info">
          <p class="username" (click)="openProfile(user.id)">{{user.username}}</p>
          <p *ngIf="chatService.getActiveChat().role === 'admin' && authService.getUserId() !== user.id" (click)="removeUser(user.id, false)" class="delete-user">Remove</p>
          <p *ngIf="authService.getUserId() === user.id" (click)="removeUser(user.id, true)" class="delete-user">Delete and exit</p>
        </div>
      </li>
    </ul>
  </div>
</div>
