<app-modal-header [data]="{title: 'Contacts'}" (closeDialog)="closeModel()"></app-modal-header>
<div class="select-users-container">
  <app-search [data]="users" [fieldToFilter]="'username'" (filterData)="usersFilter = $event"></app-search>
  <div class="users-list-container">
    <app-users-list (selectUser)="selectUser($event)" [users]="usersFilter"></app-users-list>
  </div>
</div>
<div class="new-contact">
  <button class="new-contact-button" mat-menu-item (click)="openAddContactWindow()">
    <span>Add New Contact</span>
  </button>
</div>
