<div class="profile-header-container">
  <div class="profile-header-title-container">
    <span class="profile-header-title">Settings</span>
    <span class="profile-header-close" (click)="closeProfile()">Close</span>
  </div>
  <div class="profile-header-info-container">
    <div class="profile-image-container">
      <div class="img-container">
        <img [src]="imageSrc || 'http://images.unsplash.com/photo-1562887284-8ba6b7c90fd8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExNzQzMn0'">
      </div>
      <mat-form-field class="select-image-field" (change)="selectImage($event)">
        <ngx-mat-file-input></ngx-mat-file-input>
      </mat-form-field>
    </div>
    <div class="profile-name-container">
      <span class="profile-username">Username</span>
    </div>
  </div>
</div>
