.channel-settings {
  padding: 15px;
  .channel-description, .channel-actions {
    display: flex;
    align-items: center;
    mat-icon {
      font-size: 30px;
      margin-right: 20px;
    }
  }
  .channel-actions {
    padding-left: 15px;
  }
  .channel-description {
    margin: 15px 0;
    padding-left: 15px;
    p {
      margin-top: 5px;
    }
  }
  .link {
    margin-top: 5px;
  }
}
